/* src/components/layouts/MainLayout.module.scss */

.mainLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainLayoutBody {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mainLayoutContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contentWrapper {
  flex: 1;
  overflow-y: auto;
  // padding: 1rem;
  background: #04970b0e;
  box-sizing: border-box;
}
