/* src/components/ui/header/Header.module.scss */

.headerContainer {
  background-color: #065e06;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1.5rem;
}

.innerWrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #e1eee2;
}

.breadcrumbLink {
  color: #e1eee2;
  text-decoration: none;
  font-weight: 600;
  margin-right: 0.25rem;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbSeparator {
  margin: 0 0.5rem;
  color: #b5cbb3;
}

.breadcrumbCurrent {
  color: #ffffff;
  font-weight: 700;
}
